

### Highlights of the Code Workshops

- Students are provided with starter/template code to try exercises on their own in the workshop.
- Python programming language is introduced along with interactive languages/tools such as PencilCode, HTML, and JavaScript.
- Each student is provided an online account to write, save and manage their programs.
- All the workshop material and exercises can be used during and after the workshop at student’s own pace.
- In person workshops use programming kits and learning tools such as MaKey MaKey and Arduino.
- Online workshops provide one-on-one learning opportunities and support with adult instructors.

